html,body{
    margin: 0;
    padding: 0;
    height: 100%;

}
.main {
    background-color: #CCE8E6;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*The default height should be 100% of view port*/
}
nav {
  position: sticky;
  bottom: 0;
}
p {
  font-size: 100;
}
