html {
  background-color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  
}
.text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  top: 0;
  position: sticky;
}
body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
  height: 812px;
  width: 375px;
  margin: 100 0 0 0;
  padding: 0;
}
.container { 
  background-color: #f3f3f3;
}
.nav span {
  color: #F2EBBF;
  font-size: 25;
  margin: 20px;
}
.nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #6a595f;
  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-section {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-section {
  display: flex;

  flex: 1;
}
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  height: 80px;
  width: 80px;
  background-color: #6a595f;
}
.nav-btn:hover img{
  filter: grayscale(1) invert(1);
}
.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  height: 80px;
  width: 80px;
  background-color: #6a595f;
}
.cart-btn:hover img{
  filter: grayscale(1) invert(1);
}
.drop-btn {
  width: 100%;
  text-align: center;
  background-color: #8c7c7c;
  padding: 20px 0 20px 0;
  font-size: 25;
  
}

.drop-btn a:any-link{
  color: #F2EBBF;
  text-decoration: none;
}
.drop-btn:hover {
  background-color: #7b6d6d;

}
#menu {
  display: none;
}

.menu {

  background-color: #F2EBBF;
  max-width: 375px;


}
.title-container {
  padding: 20px 20px 6px;
  height: 20px;
  width: 100%;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.336);
}
.title-container span {

  font-size: 32;
}

.products-grid {
  
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  grid-template-columns: auto auto;
}
.product-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.product-row a:any-link{
  text-decoration: none;
  color: black;
}
.product {
  
  height: 150px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-style: solid;
  border-width:2px;
  background-color: #F3B562;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.408);
}
.product img{
  border-style: solid;
  border-width:2px;
  border-radius: 10px;
  width: 130px;
  height: 100px;
}
.product span {
  font-size: 23;
}
.item-list {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.item {
  display: flex;
  padding: 10px;
  background-color: white;
  border-style: solid;
  border-width:2px;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.408);
}
.item-cart {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: white;
  border-style: solid;
  border-width:2px;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.408);
}
.item img {
  border-radius: 10px;
  border-style: solid;
  border-width:2px;
  margin-right: 10px;
}
.item-cart img {
  border-radius: 10px;
  border-style: solid;
  border-width:2px;
  margin-right: 10px;
}
.inner-item {
  display: flex;
  justify-content: space-between;

}
.center {
  text-align: center;
}
.purchase-add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  background-color: rgb(90, 255, 126);
  border-style: solid;
  border-width: 2px;
}
.purchase-add:active {

  background-color: rgb(74, 204, 102);

}
.purchase-add a{
  font-size: 23;
  text-decoration: none;
  color: black;
  
}
.purchase-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 103, 103);
  border-style: solid;
  border-width: 2px;
}
.purchase-remove:active {

  background-color: rgb(218, 89, 89);

}
.purchase-remove a{
  font-size: 23;
  text-decoration: none;
  color: black;
}
.purchase-count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
}
.purchase-count a{
  font-size: 30;
  text-decoration: none;
  
}
.purchase {
  gap: 4px;
  justify-self: end;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.price {

  font-size: large;
}
.desc-text {
  font-size: small;
}
#cart {
  display: none;
  background-color: #F2EBBF;
  min-height: 900px;
}
#pay {
  border-radius: 10px;
  font-size: 25;
  padding: 10px;
  margin: 20px 20px 10px 20px;
  background-color: rgb(64, 243, 64);

} 
#pay:active {

  background-color: rgb(56, 214, 56);

} 
.bill {
  background-color: white;
  padding-bottom: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}
.location {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}
.nutrition p{
  margin: 0;
  
}
.nutrition{
  display: none;
  
}
.m0 {
  padding: 0 0 0 12;
}
.m1 {
  padding: 0 0 0 24;
}
.m2 {
  padding: 0 0 0 36;
}
.nut-btn {


  font-size: 17;
  height: 40px;
  margin: 10px 0px 0px 0px;
  border-style: solid ;
  background-color: #0877B7;
  border-width: 2px;
  border-radius: 10px;
  color: white;
}
.nut-btn:active {

  background-color: #086296;

}