html {
  display:flex;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;

}
.header {
  top: 0;
  position: sticky;
}
body {
  
  overflow-x: hidden;
  height: 812px;
  width: 375px;
  margin: 0;
  padding: 0;
}
.container {
  background-color: #f3f3f3;
}
.nav span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25;
  margin: 20px;
}
.nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #bfbfbf;
  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  border: 0;
  margin: 20px;
  height: 40px;
  width: 40px;
  background-color: #bfbfbf;
  
  

  
}
.nav button {
  
}
.drop-btn {
    display: none;
  background-color: #ebebeb;
  padding: 19px;
  font-size: 25;
}

.content {
 height: 300px;
  

}